<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
            <div class="row flex-fill">
                <div class="col-sm-5">
                    <h4 class="h5">Book</h4>
                    <span class="badge bg-secondary">WORLDWIDE</span> <span class="badge bg-success">$60K - $100K</span>
                </div>
                <div class="col-sm-4 py-2">
                    <span class="badge bg-secondary">REACT</span>
                    <span class="badge bg-secondary">NODE</span>
                    <span class="badge bg-secondary">TYPESCRIPT</span>
                    <span class="badge bg-secondary">JUNIOR</span>
                </div>
                <div class="col-sm-3 text-lg-end">
                    <a href="#" class="btn btn-primary stretched-link">Apply</a>
                </div>
            </div>
        </div>
    </div>
</div>