.all {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 1em;
}

.footer {
    padding: 1em;
    border-radius: 2em;
    background-color: whitesmoke;
}

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
}

.container > * {
    padding: 1em;
    border-radius: 2em;
    background-color: whitesmoke;
    margin: 0.5em;
}

.left-container {
    width: 25%;
}

.central-container {
    width: 50%;
}

.right-container {
    width: 25%;
}